* { margin:0px;padding:0px;}
ul { list-style:none;}
a { text-decoration:none;}
img { border:none; vertical-align:top;}
body{font-family: 'Roboto', sans-serif;}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,900,900i&display=swap');
::-moz-selection { color:#fff; background:#ff0000; }
::selection { color:#fff; background:#ff0000; }

#header{ width: 100%; height: 86px; position: fixed; background-color: white;}
#header .wrap{width: 1300px; margin: 0 auto; overflow: hidden; position: relative;}
#header .logo img{width: 170px; float: left; margin-top: 15px;}
#header .menu{float: right;}
#header .menu li{float: left; margin-left: 25px; font-size: 16px;  font-weight: 600; margin-top: 40px;}
#header .menu li.hamb{cursor: pointer;}
#header .menu li a{color:#3e3e3e;}
#header .menu li a:hover{color: #dd1818; transition: all 0.3s;}
#header .menu li:nth-child(2) a{color: #dd1818; border-bottom: 3px solid red;}

#header .hamb{position:absolute; top:20px; right: 0; cursor: pointer;  display: none;}
#header #h_menu{position: fixed; top:0; left:0; width: 100%; height: 100%; background-color: rgba(15, 15, 15, 0.84); z-index: 1000; text-align: center; display: none; }
#header #h_menu.show{display: block;}
#header #h_menu ul{padding-top: 110px;}
#header #h_menu a{color:white; font-size: 20px; line-height: 50px;  } 
#header #h_menu li:nth-child(2) a{color: #dd1818;}
#header #h_menu .cross{position: absolute; top:20px; left: 20px; width: 32px; cursor: pointer;}
#header #h_menu .cross img {width: 100%;}

#footer{background-color: #414141;}
#footer div{width: 1000px; margin: 0 auto; padding:20px 0px 15px 0px; overflow: hidden;} 
#footer img{float: left; width: 100px;}
#footer p{float: left; margin-left: 30px; margin-top: 0px; color:#969696; font-size: 15px; line-height: 35px;}
#footer p span{color:#727272; font-size: 12px; }

.wrap{width: 1300px; margin: 0 auto; overflow: hidden; }
#container{padding-top: 110px;}

#container #section0{width: 100%; height: 200px; background:url(../img/img107.jpg) no-repeat; background-position: center; background-size: cover; }
#container #section0 .wrap{font-size: 45px; font-weight: 800; color:white; text-shadow:5px 5px 3px #332e40; padding-top: 60px;}

#container #section1 .wrap{overflow: hidden; margin-top: 30px; margin-bottom: 60px;}
#container #section1 .content_Left{float: left; width:290px;}
#container #section1 .content_Left .photo{width: 290px; height: 400px; background:url(../img/Prof-225x300.png) no-repeat; background-position: center; background-size: cover; margin-top: 35px;}
#container #section1 .content_Left .name{text-align: center; font-size: 20px; font-weight: 800; color:#777777;}
#container #section1 .content_Right{width: 900px; float: left; margin-left: 60px; }
#container #section1 .content_Right p{font-size: 18px; line-height: 22px; color:#4d4d4e; font-weight: 300i; margin-bottom: 10px; margin-top: 10px;}
#container #section1 .content_Right p:before{content: "- "; font-weight: bold; color:#cecdcd;}
#container #section1 .content_Right h1{font-size: 24px; margin-top:  margin-bottom: 10px;}
#container #section1 .profile h1{color:#313131; font-size:40px;}
#container #section1 .profile h3{margin-top: 20px; color:#5c5c5c;}
#container #section1 .profile img{margin-top: 20px;}
#container #section1 .profile .address{line-height: 24px; margin-top: 10px; margin-bottom: 10px;}
#container #section1 .content_Right img{width: 25px; float: left; margin-right: 10px; }
#container #section1 .content_Right >div{margin-top: 20px;}

#container #section2{background-color: #f0f3f8; padding: 60px 0 60px 0;}
#container #section2 h2{font-size: 40px; float: left; width: 320px; color:#313131; }
#container #section2 .right{width: 880px; float: left;}
#container #section2 .profile{float: left; text-align: center; margin: 0 30px 0 30px;}
#container #section2 .profile div{width: 150px; height: 150px; background-color: #454545; margin-bottom: 10px; border-radius: 50%; background-position: center; background-size: cover;}
#container #section2 .profile p {font-size: 18px; font-weight: 800; color:#575757; margin-bottom: 50px;} 

#container #section3{ padding: 60px 0 60px 0;}
#container #section3 h2{font-size: 40px; float: left; width: 320px; color:#313131; }
#container #section3 .right{width: 880px; float: left;}
#container #section3 .profile{float: left; text-align: center; margin: 0 30px 0 30px;}
#container #section3 .profile div{width: 150px; height: 150px; background-color: #454545; margin-bottom: 10px; border-radius: 50%; background-position: center; background-size: cover;}
#container #section3 .profile p {font-size: 18px; font-weight: 800; color:#575757; margin-bottom: 50px;} 

#container #section4{background-color: #f0f3f8; padding: 60px 0 60px 0;}
#container #section4 h2{font-size: 40px; float: left; width: 320px; color:#313131;}
#container #section4 table{font-size: 17px;}
#container #section4 table thead{font-weight: 800; color:#313131;}
#container #section4 table tbody{color:#7c7c7c;}
#container #section4 table td{width: 15%; height: 50px; text-align: center;}

@media screen and (max-width:1024px){
    
    #header{ width: 100%; height: 72px;}
    #header .wrap{width: 90%;}
    #header .logo img{width: 130px; float: left; margin-top: 15px;}
    #header .menu li{display: none; float: left; margin-left: 25px; font-size: 16px;  font-weight: 600; margin-top: 25px;}
    #header .menu li a{color:#3e3e3e;}
    #header .menu li a:hover{color: #dd1818; transition: all 0.3s;}
    #header .menu li.on a{color: #dd1818; border-bottom: 3px solid red;}
    
    #header .hamb{display: block;}

    #footer div{width: 100%;} 
    #footer img{float: left; width: 18%; margin-left: 2%}
    #footer p{float: left; width: 75%; margin-left: 5%;}
     
    .wrap{width: 98%;}
    #container{padding-top: 110px;}

    #container #section0 .wrap{text-align: center;;}

    #container #section1 .content_Left{float: none; width:100%;}
    #container #section1 .content_Left .photo{margin: 0 auto;}
    #container #section1 .content_Right{width: 100%; float: none; margin-left: 0px; }
    #container #section1 .profile h1{font-size: 35px;}
    #container #section1 .content_Right p{font-size: 16px;}

    #container #section2 h2{font-size: 35px; float: none; width: 100%; text-align:center; margin-bottom: 50px; }
    #container #section2 .right{width: 740px; margin: 0 auto;float: none; overflow: hidden;}
    #container #section2 .profile{width: 246px; margin: 30px 0px 0px 0px;}
    #container #section2 .profile div{width: 150px; height: 150px; margin: 0 auto; margin-bottom: 10px;}
    #container #section2 .profile p {font-size: 18px; font-weight: 800; color:#575757; margin-bottom: 50px;} 

    #container #section3{ padding: 60px 0 60px 0;}
    #container #section3 h2{font-size: 35px; float: none; width: 100%; text-align:center; margin-bottom: 50px; }
    #container #section3 .right{width: 740px; margin: 0 auto;float: none; overflow: hidden;}
    #container #section3 .profile{width: 246px; margin: 30px 0px 0px 0px;}
    #container #section3 .profile div{width: 150px; height: 150px; margin: 0 auto; margin-bottom: 10px;}
    #container #section3 .profile p {font-size: 18px; font-weight: 800; color:#575757; margin-bottom: 50px;} 

    #container #section4{padding: 60px 0 60px 0;}
    #container #section4 h2{font-size: 35px; float: none; width: 100%; text-align:center; margin-bottom: 50px; }
    #container #section4 table{font-size: 16px;}
    #container #section4 table thead{font-weight: 800; color:#313131;}
    #container #section4 table tbody{color:#7c7c7c;}
    #container #section4 table td{width: 15%; height: 50px; text-align: center;
}
    
@media screen and (max-width:740px){
    
    #header{ width: 100%; height: 55px;}
    #header .wrap{width: 90%;}
    #header .logo img{width: 120px; float: left; margin-top: 10px;}
    #header .menu li{display: none; float: left; margin-left: 25px; font-size: 16px;  font-weight: 600; margin-top: 25px;}
    
    #header .hamb{display: block; width: 30px; margin-top: -5px;}
    #header .hamb img{width: 100%}


    #footer div{width: 98%; padding: 15px 0 10px 0;} 
    #footer img{display: none; }
    #footer p{float: none; width: 100%; margin-left: 0; margin-top: 0;  font-size: 14px; text-align: center; }
    
    .wrap{width: 90%;}
    #container{padding-top: 10px;}

    #container #section0{height: 130px;}
    #container #section0 .wrap{text-align: center; font-size: 30px;}
    

    #container #section1 .content_Left{float: none; width:100%;}
    #container #section1 .content_Left .photo{ width: 240px; height: 300px;  margin: 0 auto;}
    #container #section1 .content_Right{width: 100%; float: none; margin-left: 0px; }
    #container #section1 .content_Right h1{font-size: 20px;}
    #container #section1 .profile h1{font-size: 30px;}
    #container #section1 .content_Right p{font-size: 14px;}
    
    #container #section2{ padding: 50px 0 40px 0;}
    #container #section2 h2{font-size: 30px;margin-bottom: 30px; }
    #container #section2 .right{width: 100%;}
    #container #section2 .profile{width: 100%; margin: 20px 0px 0px 0px;}
    #container #section2 .profile div{width: 150px; height: 150px; margin: 0 auto; margin-bottom: 10px;}
    #container #section2 .profile p {font-size: 15px;} 

    #container #section3{ padding: 50px 0 40px 0;}
    #container #section3 h2{font-size: 30px;margin-bottom: 30px; }
    #container #section3 .right{width: 100%;}
    #container #section3 .profile{width: 100%; margin: 20px 0px 0px 0px;}
    #container #section3 .profile div{width: 150px; height: 150px; margin: 0 auto; margin-bottom: 10px;}
    #container #section3 .profile p {font-size: 15px;} 

    #container #section4{padding: 60px 0 60px 0;}
    #container #section4 h2{font-size: 35px; float: none; width: 100%; text-align:center; margin-bottom: 50px; }
    #container #section4 table{width: 100%; font-size: 14px;}
    #container #section4 table td{width: 1%;}
    
}