<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/member.css') }}" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</head>
<body>
    <div id="header"></div>
    <div id="container">
        <div id="section0">
            <div class="wrap">
                MEMBER
            </div>
        </div>
        <div id="section1">
            <div class="wrap">
                <div class="content_Left">
                    <div class="photo"></div>
                    <p class="name">Sungyong Park</p>
                </div>
                <div class="content_Right">
                    <div class="profile">
                        <h1>Professor</h1>
                        <img src="{{ url_for('static', filename= 'img/imgLeft.png') }}">
                        <h3>Distributed Cloud and Computing Lab</h3>
                        <p class="address">Room 712, Department of Computer Science and Engineering, Sogang University 35, Baekbeom-ro, Mapo-gu, Seoul, Korea</p>
                        <p><strong>Phone:</strong> +82 2 705 8929</p>
                        <p><strong>Fax:</strong> +82 2 704 8273</p>
                        <p><strong>Email:</strong> parksy_AT_sogang.ac.kr</p>
                    </div>
                    <div class="Education">
                        <img src="{{ url_for('static', filename= 'img/member_icon.png') }}">
                        <h1>Education</h1>
                        <p>Ph.D. in Computer and Information Science, Syracuse University, U.S.A.</p>
                        <p>M.S. in Computer Science, Syracuse University, U.S.A.</p>
                        <p>B.S. in Computer Science, Sogang University, Korea</p>
                    </div>
                    <div class="Interests">
                        <img src="{{ url_for('static', filename= 'img/member_icon2.png') }}">
                        <h1>Research Interests</h1>
                        <p>Cloud Computing and Big Data Platform </p>
                        <p>Virtualization Techonolgy (Server/Network/Storage/GPU)</p>
                        <p>System Software for Multicore/Manycore Systems</p>
                        <p>Blockchain Platform and Applications</p>
                        <p>High Performance Cluster Computing and Systems</p>
                        <p>Communication Support for High Performance Distributed Systems</p>
                        <p>Digital Forensics and System Security</p>
                        <p>Embedded Systems</p>
                    </div>
                    <div class="Employment">
                        <img src="{{ url_for('static', filename= 'img/member_icon3.png') }}">
                        <h1>Employment</h1>
                        <p>September 2008 – Present, Professor at Sogang University, Seoul, Korea</p>
                        <p>January 2011 – August 2011, Visiting Professor at Georgia Institute of Technology (ECE Dept), USA</p>
                        <p>September 2003 – August 2008, Associate Professor at Sogang University, Seoul, Korea</p>
                        <p>September 1999 – August 2003, Assistant Professor at Sogang University, Seoul, Korea</p>
                        <p>September 1998 – August 1999, Research Scientist at Bellcore (Bell Communication Research)</p>
                        <p>June 1995 – August 1995, Intern at NYNEX Science and Technology, White Plains, NY</p>
                        <p>December 1986 – June 1992, Research Engineer at GoldStar Telecommunication Research Institute (Currently changed to LG Electronics Inc.)</p>
                    </div>
                    <div class="Activities">
                        <img src="{{ url_for('static', filename= 'img/member_icon4.png') }}">
                        <h1>Professional Activities</h1>
                        <p>Program Committee Member, The 7th  International Workshop on Autonomic Management of Grid and Cloud Computing (AMGCC’19), September 2019.</p>
                        <p>Program Committee Member, The 6th  International Workshop on Autonomic Management of Grid and Cloud Computing (AMGCC’18), September 2018.</p>
                        <p>Guest Editor, Special Issue for Cluster Computing Journal (SCIE), 2017.</p>
                        <p>Guest Editor, Special Issue for Scientific Programming Journal (SCIE), 2017.</p>
                        <p>Workshop Co-Chair, The 5th  International Workshop on Autonomic Management of Grid and Cloud Computing (AMGCC’17), September 2017.</p>
                        <p>Program Committee Member, The 4th  International Workshop on Autonomic Management of Grid and Cloud Computing (AMGCC’16), September 2016.</p>
                        <p>Program Committee Member, The 5th International Conference in Advances in Computing, Communications and Informatics (ICACCI-2016), September 2016. </p>
                        <p>Program Committee Member, The 3rd  International Workshop on Autonomic Management of Grid and Cloud Computing (AMGCC’15), September 2015.</p>
                        <p>Program Committee Member, The 2nd International Workshop on Autonomic Management of Grid and Cloud Computing (AMGCC’14), September 2014.</p>
                        <p>Track Co-Chair of Cloud Computing and Services Track, The 13th International Conference on Parallel and Distributed Systems (ICPADS 2013), December 2013.</p>
                        <p>Workshop Co-Chair, IEEE ICPADS Workshop on Cloud Services and Systems (CSS 2013), December 2013.</p>
                        <p>Program Committee Member, The 1st International Workshop on Autonomic Management of Grid and Cloud Computing (AMGCC’13), August 2013.</p>
                        <p>Head of Research Society, Special Interest Group on Computer Systems, The Korean Institute of Information Scientists and Engineers (KIISE), March 2012 – February 2014.</p>
                        <p>Steering Committee Member, Special Interest Group on Computer Systems, The Korean Institute of Information Scientists and Engineers (KIISE), March 2006 – February 2012.</p>
                        <p>Committee Member, Public Relations Committee, The Korean Institute of Information Scientists and Engineers (KIISE), January 2009 – February 2010.</p>
                        <p>Program Committee Member, The 24th International Technical Conference on Circuit/Systems, Computers and Communications (ITC-CSCC 2009), 2009.</p>
                        <p>Program Committee Member, The 13th IEEE International Conference on Engineering of Complex Computer Systems (ICECCS 2008), 2008.</p>
                        <p>Program Committee Member, The 12th IEEE International Conference on Engineering of Complex Computer Systems (ICECCS 2007), 2007.</p>
                        <p>Editorial Board Members, Communications of KIISE, The Korean Institute of Information Scientists and Engineers (KIISE), January 2004 – December 2004.</p>
                        <p>Editorial Board Members, Journal of KIISE: Computer Systems and Theory, The Korean Institute of Information Scientists and Engineers (KIISE), January 2003 – December 2003.</p>
                        <p>Organizing Committee Member, 2003 IT Frontier Forum for the Younger Generation, November 2003.</p>
                        <p>Steering Committee Member, Special Interest Group on Computer Systems, The Korean Institute of Information Scientists and Engineers (KIISE), March 2000 – February 2004.</p>
                        <p>Members of IEEE, ACM, KIISE, KIPS</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="section2">
            <div class="wrap">
                <h2>PhD Student</h2>
                <div class="profile">
                        <div></div>
                        <p>Jeho Song</p>
                </div>
            </div>
        </div>
        <div id="section3">
            <div class="wrap">
                <div class="text_Block">
                    <h2>MS Student</h2>
                    <div class="right">
                        <div class="profile">
                            <div></div>
                            <p>Jeho Song</p>
                        </div>
                        <div class="profile">
                            <div></div>
                            <p>Yeonwoo Jeong</p>
                        </div>
                        <div class="profile">
                            <div></div>
                            <p>Sangyeon Woo</p>
                        </div>
                        <div class="profile">
                            <div></div>
                            <p>Jaewon Son</p>
                        </div>
                        <div class="profile">
                            <div></div>
                            <p>Junehyung Kim</p>
                        </div>
                        <div class="profile">
                            <div></div>
                            <p>Mingyo Jeong</p>
                        </div>
                        <div class="profile">
                            <div></div>
                            <p>Esrat Maria</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div id="section4">
            <div class="wrap">
                <h2>Alumni</h2>
                <table>
                    <thead>
                        <tr>
                            <td>이름</td>
                            <td>졸업년도</td>
                            <td>학위</td>
                            <td>회사</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>이*섭</td>
                            <td>2019</td>
                            <td>Doctor's degree</td>
                            <td>미정</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>